@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: myFont;
  src: url("../public/font/HelveticaNowDisplay-Black.otf") format("truetype");
}
body {
  @apply font-HelveticaNow bg-main-bg;
}

/* Grained effect */
#moving_bg {
  position: fixed;
  pointer-events: none;
  background-image: url(../public/movie.png);
  height: 200%;
  left: -50%;
  top: -50%;
  width: 200%;
  opacity: 0.4;
  z-index: 80;
  animation: movie 1s steps(4) infinite;
}

@keyframes movie {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

.sale {
  @apply text-sm uppercase text-black whitespace-nowrap p-1 px-5 font-HelveticaNow font-black tracking-wider;
  font-family: myFont;
  animation: marquee 6000ms linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
